* {
  font-size: 62.5%;
  box-sizing: border-box;
}

.main-container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.userInputContainer {
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 5px rgb(19, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 50rem;
  height: 40rem;
  color: var(--primary-color);
  border-radius: 0.2rem;
  gap: 2rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.userInputContainer h1 {
  font-size: 2.5rem;
}

.userInputContainer input {
  padding: 1rem;
  width: 30rem;
  font-size: 1.5rem;
}

.userInputContainer label {
  font-size: 2rem;
  font-weight: bold;
}

.userInputContainer button {
  width: 30rem;
}

/* Toast */
.showToastDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.showToastDiv .toast {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  animation: fadein 0.5s;
  font-size: 2rem;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 6rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 6rem;
    opacity: 1;
  }
}

.back-btn {
  z-index: 5;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.back-btn button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 2px 2px 5px rgb(19, 32, 32);
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn button:hover {
  background-color: rgb(238, 226, 226);
}

.back-btn button:active {
  background-color: rgb(212, 207, 207);
}

.floors-container {
  margin: 10rem;
  width: 90vw;
  border: 2px solid black;
}

.single-floor {
  border-top: 2px solid #0e0e0e;
  border-bottom: 2px solid #0e0e0e;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.single-floor h1 {
  font-size: 2rem;
  margin: 1rem;
}
